<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="TempPath" value="C:\temp\"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="DbConnection" connectionString="Data Source=IBSPCLU02D\VINSTBKO01D; Initial Catalog=Wingbank;User ID=Victor.Domingues;Password=butantan2017;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="DbConnection" connectionString="Data Source=.\SQL; Initial Catalog=Wingbank; Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>