@{ViewBag.Title = "Instructions";}

<div class="justified-text">

    <h2>INSTRUCTIONS</h2>

    <h3>To search</h3>
    <p>
        1) To this you do not need be registered. <br />
        2) You can search in two ways: <br />
        a) Basic search, writing what information you want to search <br />
        b) Advanced search, in which you can specify details of your search <br />
    </p>

    <p>
        IMPORTANT: If you want search by coordinates, you need write them in decimal pattern, and will
        need to be exactly identical to the registered in the Wingbank, in other words, if just one number
        will be different, perhaps you will not find what you search. So, be careful with this field.
    </p>

    @*<h3>To collaborate with Wingbank</h3>
        <p>
            <strong>First step</strong>
        <p>
            1) Register
            2) Wait to receive an e-mail confirming that you have registered successfully in Wingbank.
            IMPORTANT: Your images MUST belong to a scientific article that has already been published.
            Second step
        </p>
        <p>
            1) Login
            2) Go to the image data registration page (Bank &gt; Image Upload) and fill out all the fields
            3) Add your images
        </p>
        <p>
            <b> IMPORTANT:</b> Your image should contain the size scale and/or related information about
            resolution and technical devices used to produce it (ex.: stereoscope Leica S6D, camera
            DFC320, 4.0x Zoom, and when was possible, an image with size scale).
        </p>

        <p>
            4) Accept the Terms and Conditions. When you accept the Terms and Conditions, you are confirming
            that all the contents of the files being uploaded (and the files referred to by the URL and DOI) were
            written by you.
        </p>*@
    <p>
        <ul>
            <li>
                If you need specific and complete address, please contact us.
            </li>
            <li>
                If you need specific information of person responsible by some process (from sampling to taxonomic identification), please contact us.: <a href="mail:wingbank@butantan.gov.br ">wingbank@butantan.gov.br </a>
            </li>
        </ul>


    </p>

</div>
