@{ ViewBag.Title = "Terms of use"; }


<div class="justified-text">

    <div class="translator-box">
        <div class="flag-box">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" language="en-US" class="flag btn active btn-default">en-US</button>
                <button type="button" language="pt-BR" class="flag btn btn-default">pt-BR</button>
            </div>
        </div>
    </div>

    <div class="translate-content">
        <div class="content content-en-US active">
            <h2>TERMS AND CONDITIONS</h2>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <ol>
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> USING AND CITING WINGBANK</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">WINGBANK is available freely for use in education and research. If you use WINGBANK for research that is to be published, please cite it as follows: Virginio, F., Domingues, V.L., Miranda, L.A., Braghetto, K.R., Suesdek, L. 2017. Wingbank: a public relational database and a relevant tool to mosquito studies. Available in: </span><a href="https://www.wingbank.butantan.gov.br"><span style="font-size: 12.0pt; color: windowtext;">https://www.wingbank.butantan.gov.br</span></a></p>
            <p style="text-align: justify; text-indent: 1.0cm;"><span style="font-size: 12.0pt; line-height: 115%;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">These terms and conditions specify the rules governing use of the website registered under the domain name</span> <a href="http://www.wingbank.com.br/"><span style="font-size: 12.0pt; color: windowtext;">https://www.wingbank.butantan.gov.br</span></a><span style="font-size: 12.0pt;"> as well as users&rsquo; responsibilities when they upload and download images and their related data. The purpose of this website is to provide a database of images of mosquito wings and its metadata uploaded by registered users and downloaded by other users in accordance with the following terms and conditions:</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <ol start="2">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> PURPOSE</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">WINGBANK makes available to its users, by means of electronic acceptance of these terms and conditions, an interactive tool that allows them to use the free service for uploading and downloading photographic images and a set of metadata of mosquito wings for the purpose of building a public database for use in scientific research and studies under the terms and conditions specified herein.</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <ol start="3">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> ACCEPTANCE</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">Use of this website implies full and unrestricted acceptance of the items constituting these terms and conditions. By accepting these, you willingly acknowledge and accept that you are solely and exclusively responsible for your use of the website. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">It is essential that you read these legal conditions governing use of the website as by accessing the content of the database you are expressly agreeing to these terms and conditions.</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <ol start="4">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> USE OF THE WEBSITE</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The WINGBANK database is designed to provide and encourage access within the scientific community to the most up to date and comprehensive information.</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">In the event of any judicial or extrajudicial measures and in accordance with the provisions of these terms and conditions, you should be aware that you will be named as a third party in compliance with the provisions of the civil procedures code, that you will be responsible if a case is brought by an injured third party and that you will be sued by WINGBANK for compensation for all expenses incurred in order to make good any damages caused by you. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">4.1 Access to public data</span></strong></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">To use the download service of image and metadata related to some scientific publication, you do not need to be register on the website. <strong>&nbsp;</strong></span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">4.2 Access to nonpublic data</span></strong></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">To use the download service of image and metadata not related to some scientific publication, you must be authorized by WINBANK manager.</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <ol start="5">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> COPYRIGHT AND BRANDS</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The WINGBANK logo and brand are displayed on the WINGBANK website. You are not allowed to use these without prior written permission from WINGBANK. Unauthorized use of this logo and brand may lead to penalties being applied in accordance with the prevailing legislation.</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <ol start="6">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> AUTHORIZATION FOR FREE USE OF PHOTOGRAPHIC IMAGES</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">6.1. USERS&rsquo; RESPONSIBILITY</span></strong></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The images and its metadata are under the Creative Commons &ndash; Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) - &lt;https://creativecommons.org/licenses/by-nc-sa/4.0/&gt;,<span style=""> in which the use of the reference images and its</span> metadata, and the publishing of related results imply your obligation to indicate the Accession Code <span style="">of the images and metadata used, which will remit to all of image metadata, inclusive, the publication of owner of image, and cite the </span></span><a href="https://www.wingbank.butantan.gov.br"><span style="font-size: 12.0pt; color: windowtext;  text-decoration: none; text-underline: none;">WINGBANK</span></a><span style="font-size: 12.0pt; ">.</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">6.1.1 User (Uploader)</span></strong><span style="font-size: 12.0pt;">: </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The user (uploader) authorizes WINGBANK to make full use of photographs and metadata deposited in its database and to store them, publish them and transmit them electronically or in any other form for an unlimited period both in Brazil and abroad. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The user warrants that he is the sole and exclusive owner of the material deposited and takes full responsibility for the originality of his creation. Any copyright claims or claims regarding the use of images not produced by the user will be entirely his responsibility. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The user declares that the photographic images have already been published in scientific journals. Any failure to supply full, accurate information in this regard is the entire responsibility of the user. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The user expressly exempts WINGBANK from any responsibilities or obligations arising from third parties. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The user fully agrees that the photographs deposited in the database can be used by other users of the website for morphometric and other studies. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The user is aware that he is entitled under article 24 of Law 9.610 of 1998 from Brazilian Intellectual Property Rights, to have his name, pseudonym or conventional name appear or be announced as that of the author when a photographic image of which he is the author is used. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">Use of photographic images deposited by the user is free of charge and includes licensing to third parties without any obligations for WINGBANK or other users. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The user authorizes the use of photographic images that he has deposited in the WINGBANK database as long as no claim is made to copyrights and related rights.</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">6.1.2 User (Downloader): </span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The user takes responsibility for using third parties&rsquo; photographic images ethically and for citing the author of the images as required by the Copyright Law.The user agrees with the rules of the website and is aware that the images are protected by the Copyright Law and that he is liable for any breach of this law. </span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <ol start="7">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> DURATION OF THE WINGBANK WEBSITE</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">The WINGBANK website has an indefinite duration. WINGBANK may, however, at any time, terminate, suspend or interrupt the website and the provision of services as well as remove, reorganize or change any content unilaterally and without the need for prior notice without prejudice to the provisions of the corresponding terms and conditions.</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <ol start="8">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> FINAL PROVISIONS</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 1.0cm; line-height: normal;"><span style="font-size: 12.0pt;">These terms and conditions are generated electronically and are governed by the laws of the Federal Republic of Brazil. The parties hereby agree that the central court of S&atilde;o Paulo shall have exclusive jurisdiction to settle any disputes arising from these terms and conditions and renounce any other jurisdiction, no matter how privileged it may be. The cases not covered herein shall be reported to wingbank@butantan.gov.br.</span></p>
        </div>
        <div class="content content-pt-BR">
            <h2 >TERMOS E CONDI&Ccedil;&Otilde;ES</h2>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <ol>
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> USO E CITA&Ccedil;&Atilde;O DO WINGBANK</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">WINGBANK est&aacute; dispon&iacute;vel gratuitamente para o uso em educa&ccedil;&atilde;o e pesquisa. Se voc&ecirc; utilizar o WINGBANK para pesquisa a qual ser&aacute; publicada, por favor cite-nos como a seguir: Virginio, F., Domingues, V.L., Miranda, L.A., Braghetto, K.R., Suesdek, L. 2017. </span><span style="font-size: 12.0pt;">Wingbank: a public relational database and a relevant tool to mosquito studies. </span><span style="font-size: 12.0pt;">Available in: </span><a href="https://www.wingbank.butantan.gov.br"><span style="font-size: 12.0pt; color: windowtext;">https://www.wingbank.butantan.gov.br</span></a><span style="font-size: 12.0pt;"> . </span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">Estes termos e condi&ccedil;&otilde;es determinam as regras de utiliza&ccedil;&atilde;o do <em>website </em>registrado sob o dom&iacute;nio</span> <a href="https://www.wingbank.butantan.gov.br"><span style="font-size: 12.0pt; color: windowtext;">https://wingbank.butantan.gov.br</span></a><span style="font-size: 12.0pt;"> , bem como a responsabilidade dos usu&aacute;rios pelo envio e aquisi&ccedil;&atilde;o das imagens e dos dados relacionados a elas. O objetivo deste <em>website</em> &eacute; a forma&ccedil;&atilde;o de uma base de dados a partir do envio, pelos usu&aacute;rios cadastrados, de imagens de asas de mosquitos de qualquer esp&eacute;cie e seus metadados, e da aquisi&ccedil;&atilde;o destas informa&ccedil;&otilde;es pelos demais usu&aacute;rios, dentro das regras e condi&ccedil;&otilde;es a seguir expostas:</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <ol start="2">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> DO OBJETIVO</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O WINGBANK coloca &agrave; disposi&ccedil;&atilde;o de seus usu&aacute;rios, mediante a aceita&ccedil;&atilde;o eletr&ocirc;nica deste termo, uma ferramenta interativa que permite a utiliza&ccedil;&atilde;o do servi&ccedil;o gratuito de envio e aquisi&ccedil;&atilde;o de imagens fotogr&aacute;ficas de asas de mosquitos e uma s&eacute;rie de outros metadados relacionados a estas imagens, com o escopo de formar uma base de dados para utiliza&ccedil;&atilde;o em estudos e pesquisas cient&iacute;ficas, nas condi&ccedil;&otilde;es deste termo.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <ol start="3">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> DA ACEITA&Ccedil;&Atilde;O</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">A utiliza&ccedil;&atilde;o do <em>website </em>implica em aceita&ccedil;&atilde;o total e irrestrita dos itens que constituem este presente termo. O usu&aacute;rio ao aceit&aacute;-lo, reconhece e aceita voluntariamente que a sua utiliza&ccedil;&atilde;o &eacute; de sua &uacute;nica e exclusiva responsabilidade.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&Eacute; de suma import&acirc;ncia que o usu&aacute;rio fa&ccedil;a uma leitura minuciosa das condi&ccedil;&otilde;es legais para a utiliza&ccedil;&atilde;o do <em>website</em>, tendo em vista que, ao acessar o conte&uacute;do na base de dados, manifesta por tal ato expressa concord&acirc;ncia com as condi&ccedil;&otilde;es aqui expostas.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <ol start="4">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> NORMAS DE UTILIZA&Ccedil;&Atilde;O DO <em>website</em></span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O banco de dados WINGBANK &eacute; desenhado para fornecer o acesso &agrave; comunidade cient&iacute;fica de informa&ccedil;&otilde;es atualizadas e abrangentes relacionadas a asas de mosquitos e encorajar a busca por estas informa&ccedil;&otilde;es. </span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">Na hip&oacute;tese de ocorr&ecirc;ncia de medida judicial ou extrajudicial, em face do disposto neste regulamento, o usu&aacute;rio deve estar ciente de que ser&aacute; denunciado &agrave; lide, em conson&acirc;ncia com o que disp&otilde;e o C&oacute;digo de Processo Civil, responsabilizando-se pelo processo instaurado por eventual terceiro prejudicado, bem como ser&aacute; acionado pelo WINGBANK para ressarcimento de todos os disp&ecirc;ndios realizados a fim de reparar danos causados pelo usu&aacute;rio.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">4.1. Acesso aos dados p&uacute;blicos</span></strong></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">Para aquisi&ccedil;&atilde;o de imagens e metadados relacionados a alguma publica&ccedil;&atilde;o cient&iacute;fica, o usu&aacute;rio n&atilde;o necessita estar registrado no <em>website.</em> <strong>&nbsp;</strong></span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">4.2. Acesso aos dados n&atilde;o-p&uacute;blicos</span></strong></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">Para aquisi&ccedil;&atilde;o de imagens e metadados n&atilde;o-relacionados a alguma publica&ccedil;&atilde;o cient&iacute;fica, o usu&aacute;rio necessita ser expressamente autorizado pelo administrador do WINGBANK.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <ol start="5">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> DIREITOS AUTORAIS E MARCAS</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O WINGBANK possui logotipos e marcas exibidos neste <em>website</em>, sendo proibido, aos usu&aacute;rios, us&aacute;-los sem a permiss&atilde;o pr&eacute;via e escrita do WINGBANK. A utiliza&ccedil;&atilde;o indevida do logotipo e das marcas poder&aacute; acarretar a aplica&ccedil;&atilde;o de san&ccedil;&otilde;es, conforme legisla&ccedil;&atilde;o vigente.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <ol start="6">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> AUTORIZA&Ccedil;&Atilde;O PARA UTILIZA&Ccedil;&Atilde;O GRATUITA DE IMAGENS FOTOGR&Aacute;FICAS</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">6.1. RESPONSABILIDADE DOS USU&Aacute;RIOS</span></strong></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">As imagens e seus metadados est&atilde;o sob a Licen&ccedil;a Creative Commons &ndash; Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0). Para mais detalhes, acesse a Licen&ccedil;a na &iacute;ntegra &lt;https://creativecommons.org/licenses/by-nc-sa/4.0/&gt; De acordo com esta licen&ccedil;a, o WINGBANK define que o uso de imagens e seus respectivos metadados, e a publica&ccedil;&atilde;o de resultados relacionados a eles, implicam na obriga&ccedil;&atilde;o do usu&aacute;rio de indicar o C&oacute;digo de Acesso (Accession Code) de cada imagem (o qual remete &agrave; imagem e a todos os seus metadados, inclusive, a publica&ccedil;&atilde;o relacionada a cada image<span style="">m), al&eacute;m de citar o WINGBANK.</span></span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">6.1.1. Usu&aacute;rio (Uploader)</span></strong><span style="font-size: 12.0pt;">:</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O usu&aacute;rio (<em>uploader</em>) autoriza, ao WINGBANK, a plena utiliza&ccedil;&atilde;o das fotografias depositadas em seu banco de dados, podendo armazen&aacute;-las, public&aacute;-las e veicul&aacute;-las eletronicamente ou por qualquer outra forma, sem prazo de vencimento, em todo o territ&oacute;rio nacional e internacional.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">Declara o usu&aacute;rio, ser o &uacute;nico e exclusivo titular do material depositado, responsabilizando-se integralmente pela originalidade de sua cria&ccedil;&atilde;o. Eventuais reclama&ccedil;&otilde;es por direitos autorais, reclama&ccedil;&atilde;o pela utiliza&ccedil;&atilde;o de imagens que n&atilde;o sejam de sua autoriza&ccedil;&atilde;o, ou outros eventuais defeitos relacionados ao tema ser&atilde;o integralmente de sua responsabilidade.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O usu&aacute;rio declara que as imagens fotogr&aacute;ficas j&aacute; foram publicadas em revistas cient&iacute;ficas, sendo inteira e ilimitadamente respons&aacute;vel por eventual omiss&atilde;o e (ou) falsidade relacionados a essas informa&ccedil;&otilde;es.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O usu&aacute;rio exime expressamente o WINGBANK de qualquer &ocirc;nus ou comprometimento advindos de terceiros.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O usu&aacute;rio concorda integralmente que as fotografias depositadas poder&atilde;o ser utilizadas pelos demais usu&aacute;rios do <em>website</em> para realiza&ccedil;&atilde;o de estudos morfom&eacute;tricos e demais estudos.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O usu&aacute;rio est&aacute; ciente que &eacute; seu direito, conforme artigo 24 da Lei 9.610 de 1998, ter seu nome, pseud&ocirc;nimo ou sinal convencional indicado ou anunciado, como sendo o autor, na utiliza&ccedil;&atilde;o de sua imagem fotogr&aacute;fica.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">A utiliza&ccedil;&atilde;o das imagens fotogr&aacute;ficas depositadas pelo usu&aacute;rio se d&aacute; a t&iacute;tulo gratuito, abrangendo inclusive a licen&ccedil;a a terceiros, sem nenhum &ocirc;nus para o WINGBANK e seus demais usu&aacute;rios.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O usu&aacute;rio autoriza o uso de suas imagens fotogr&aacute;ficas por ele depositadas no banco de dados do WINGBANK, sem que nada haja a ser reclamado a t&iacute;tulo de direitos autorais e conexos.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp; </span></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">6.1.2. Usuário (Downloader)</span></strong></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O usu&aacute;rio assume a responsabilidade de utilizar as imagens fotogr&aacute;ficas de terceiros de forma &eacute;tica, citando o trabalho do devido autor das imagens, conforme assegura a Lei de Direitos Autorais. O usu&aacute;rio concorda com as exig&ecirc;ncias do <em>website</em>, e est&aacute; ciente de que as imagens est&atilde;o protegidas pela Lei de Direitos Autorais, estando sujeito &agrave;s consequ&ecirc;ncias pelo descumprimento da lei.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;">&nbsp;</span></strong></p>
            <ol start="7">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> DURA&Ccedil;&Atilde;O DO <em>WEBSITE</em> WINGBANK</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O WINGBANK tem dura&ccedil;&atilde;o indefinida. O WINGBANK, entretanto, poder&aacute; a qualquer tempo, encerrar, suspender ou interromper unilateralmente e sem necessidade de comunica&ccedil;&atilde;o pr&eacute;via, a veicula&ccedil;&atilde;o do site e a presta&ccedil;&atilde;o de seus servi&ccedil;os, sem preju&iacute;zo do disposto no correspondente termo de responsabilidade, bem como remover, remanejar ou alterar qualquer conte&uacute;do.</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <ol start="8">
                <li style="text-align: justify; line-height: normal;"><strong><span style="font-size: 12.0pt;"> CONDI&Ccedil;&Otilde;ES FINAIS</span></strong></li>
            </ol>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">O presente termo de responsabilidade &eacute; gerado eletronicamente e ser&aacute; regido pelas leis da Rep&uacute;blica Federativa do Brasil, ficando desde j&aacute; eleito o foro da comarca da Capital de S&atilde;o Paulo/SP para dirimir quaisquer d&uacute;vidas oriundas deste termo, renunciando as partes a qualquer outro, por mais privilegiado que o seja. Os casos omissos dever&atilde;o ser reportados a wingbank@butantan.gov.br.</span></p>
            <p style="text-indent: 29.0pt; line-height: normal;"><span style="font-size: 12.0pt;">&nbsp;</span></p>
        </div>
    </div>
</div>
